# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
nanotekspice

# IDE files
.vscode
.idea

# Logs files
*.log

#valgrind
valgrind-out.txt
vgcore.*

#logFile
log.bin

# Tests
*.gcda
*.gcno
unit_tests
WebCoverage/
